<!DOCTYPE html>
<html>

<head>
    <title>LearnUp Phonics Board - Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- page header -->
    <div id="header">
        <h1>LearnUp Phonics Learning Board-Testing Git</h1>
    </div>

    <!-- outer container -->
    <div id="wrapper">
        <div id="left">
            <!-- sign in form -->
            <form class="well" action="#" method="post">
                <fieldset>
                    <legend>Sign In</legend>

                    <!-- email field -->
                    <div class="inputField, form-group">
                        <label class="control-label col-md-2" for="email">Email:</label>
                        <div class="col-md-12 inputGroupContainer">
                            <!-- input field width -->
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                            </div>
                        </div>
                    </div>

                    <!-- password field -->
                    <div class="form-group">
                        <label class="control-label col-md-2" for="password">Password:</label>
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>
                        </div>
                    </div>

                    <!-- "Remember me" checkbox -->
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember"> Remember me</label>
                            </div>
                        </div>
                    </div>

                    <!-- submit button -->
                    <div class="form-group">
                        <div class="col-md-10">
                            <button type="submit" id="formButton" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <!-- Admin Log in form -->
            <form class="well" action="/login" method="post">
                <fieldset>
                    <legend>Admin Log In</legend>

                    <% if (message.length > 0) { %>
                        <p class="error-message">
                            ***
                            <%= message %>
                        </p>
                        <% } %>

                            <!-- email field -->

                            <label class="control-label col-md-2" for="email">Email:</label>
                            <div class="col-md-12 inputGroupContainer">
                                <!-- input field width -->
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                </div>
                            </div>

                            <!-- password field -->
                            <div class="form-group">
                                <label class="control-label col-md-2" for="password">Password:</label>
                                <div class="col-md-12 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                    </div>
                                </div>
                            </div>

                            <!-- "Remember me" checkbox -->
                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="col-md-6">
                                        <label><input type="checkbox" name="remember"> Remember me</label>
                                    </div>
                                </div>
                                <div class='forgetpw'>  
                                    <div class="col-md-6">                                  
                                        <a href='forgetpw'>Forget password</a>
                                    </div>
                                </div>
                            </div>

                            <!-- submit button -->
                            <div class="form-group">
                                <div class="col-md-10">
                                    <button type="submit" id="formButton" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                </fieldset>
            </form>

        </div>

        <div id="right">
            <!-- walkthrough section -->
            <div class="row">
                <div id="walkthrough" class="col-md-7">
                    <h2 class="text-center">Welcome!</h2>
                    <h4>Teaching Struggling Readers to Read at Grade Level and Beyond</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NpEaa2P7qZI?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>